//viet ra cac mixin dung chung
@mixin radius_common($radius: 10px) {
  border-radius: $radius;
}

@mixin flex_box_custom($x, $y, $gap: 10px) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  gap: $gap;
}

@mixin btn($w, $h, $radius , $bgc: #fff) {
  width: $w;
  height: $h;
  background-color: $bgc;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  @include radius_common($radius);
}